In [1]:
import pandas as pd
import numpy as np

In [6]:
dict = {
    "name" : [ "a", "b", "c"],
    "class": [ "h", "i", "j"],
    "roll" : [ 12, 34, 45]
}

In [7]:
df = pd.DataFrame(dict)

In [8]:
df

  name class  roll
0    a     h    12
1    b     i    34
2    c     j    45

In [10]:
df.to_csv('first.csv')